  body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}


nav {
  background: white;
  padding: 15px 40px;
  overflow: hidden; /* Clears floats */
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
}

nav a {
  float: left;
  margin-left: 25px;
  text-decoration: none;
  color: gray;
  font-size: 14px;
  padding-top: 5px;
}

.username {
  float: right;
  background: #e6f0ff;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 12px;
}


.hero {
  height: 85vh;
  padding: 40px;
  overflow: hidden; /* Clears floats */
}

.left {
  float: left;
  width: 50%;
  padding-top: 50px;
}

.left h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

.left h2 {
  color: #1e90ff;
  margin: 10px 0;
}

.left p {
  color: gray;
  font-size: 14px;
  width: 80%;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #1e90ff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}

.right {
  float: right;
  width: 50%;
  text-align: center;
}

.right img {
  width: 70%;
  margin-top: 40px;
}

@media (max-width: 650px) {
  .logo, .username, .left, .right {
    float: none;
    width: 100%;
    text-align: center;
  }

 

  .hero {
    height: auto;
  }
  .left {
    padding-top: 20px;
  }
  nav a {
    display: block;
    margin: 10px 0;
    float: none;
  }
}
@media (max-width: 490px) {
  nav a {
    display: none;
    font-size: 10px;
    margin-left: 10px;
  }
  .logo {
    font-size: 14px;
  }
  .username {
    font-size: 10px;
    padding: 5px 8px;
  }
}
